html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    text-align: center;
    background-color: #223;
}

canvas {
    /*cursor: none;*/
    /*border: 1px solid #555;
    background-color: #fff;*/
    height: 100vh !important;
    max-width: 100vw !important;
}